main.main 
    .main__card 
        .main__card-right 
            .main__card-slider 
                .main__card-slide
                    img.main__card-img(src="../images/1st_1.webp", alt="")
                .main__card-slide 
                    img.main__card-img(src="../images/1st_2.webp", alt="")
                .main__card-slide 
                    img.main__card-img(src="../images/1st_2.webp", alt="")
            .main__card-btns
                button.main__card-btn
                button.main__card-btn
                button.main__card-btn