main.main 
    .main__card 
        .main__card-left 
            .main__card-slider 
                .main__card-slide
                    img.main__card-img(src="../images/1st_1.webp", alt="")
                .main__card-slide 
                    img.main__card-img(src="../images/1st_2.webp", alt="")
                .main__card-slide 
                    img.main__card-img(src="../images/2nd.webp", alt="")
            .main__card-btns
                button(data-atr='0').main__card-btn.active
                button(data-atr='1').main__card-btn
                button(data-atr='2').main__card-btn
        .main__card-right 
            .main__card-scroll 
                h3.main__card-number 1 st
                .main__card-meals 
                    p.main__card-name CITRUS SALAD
                    p.main__card-description Oro Blanco, Salty Sea Feta & Calamansi Vinaigrette ...................................................................... 18$
                .main__card-meals 
                    p.main__card-name CHILLED WHITE ASPARAGUS
                    p.main__card-description Baby Lettuces, Mussel Broth & Calabrese Chili .............................................................................. 21$
                .main__card-meals 
                    p.main__card-name FOIE GRAS TERRINE
                    p.main__card-description Rabbit, Carrots & Brioche .................................................................................................................. 25$
                .main__card-meals 
                    p.main__card-name BUCATINI
                    p.main__card-description Butter, Chili, Mussel Broth & Bottarga ............................................................................................. 15$
                .main__card-meals 
                    p.main__card-name CHAWANMUSHI
                    p.main__card-description Mushrooms, Jalapeño, Radish & Scallions ....................................................................................... 17$
                .main__card-meals 
                    p.main__card-name MATZAH BALL SOUP
                    p.main__card-description Poached Matzah Ball, Chicken Broth & Winter Vegetable ............................................................. 27$
                .main__card-meals 
                    p.main__card-name TUNA
                    p.main__card-description Layers of Thinly Pounded Yellowfin Tuna; Foie Gras, Toasted Baguette,Chives, Extra Virgin Olive Oil ............................................................................................................. 38$
                .main__card-meals 
                    p.main__card-name CRAB
                    p.main__card-description Warm Peekytoe Crab; Yuzu Rice, Green Tea-Nori Consommé .................................................... 55$
                .main__card-meals 
                    p.main__card-name SALMON
                    p.main__card-description Barely Cooked Faroe Islands Salmon; Black Truffle “Pot-au-Feu” .............................................. 57$