main.main 
    .main__card 
        .main__card-left 
            .main__card-slider 
                .main__card-slide
                    img.main__card-img(src="../images/1st_1.webp", alt="")
                .main__card-slide 
                    img.main__card-img(src="../images/1st_2.webp", alt="")
                .main__card-slide 
                    img.main__card-img(src="../images/2nd.webp", alt="")
            .main__card-btns
                button(data-atr='0').main__card-btn.active
                button(data-atr='1').main__card-btn
                button(data-atr='2').main__card-btn
        .main__card-right 
            h3.main__card-number 1 st
            .main__card-scroll 
                .main__card-meals 
                    p.main__card-name CITRUS SALAD
                    p.main__card-description Oro Blanco, Salty Sea Feta & Calamansi Vinaigrette ...................................................................... 18$
                .main__card-meals 
                    p.main__card-name CHILLED WHITE ASPARAGUS
                    p.main__card-description Baby Lettuces, Mussel Broth & Calabrese Chili .............................................................................. 21$
                .main__card-meals 
                    p.main__card-name FOIE GRAS TERRINE
                    p.main__card-description Rabbit, Carrots & Brioche .................................................................................................................. 25$
                .main__card-meals 
                    p.main__card-name BUCATINI
                    p.main__card-description Butter, Chili, Mussel Broth & Bottarga ............................................................................................. 15$
                .main__card-meals 
                    p.main__card-name CHAWANMUSHI
                    p.main__card-description Mushrooms, Jalapeño, Radish & Scallions ....................................................................................... 17$
                .main__card-meals 
                    p.main__card-name CHILLED WHITE ASPARAGUS
                    p.main__card-description Baby Lettuces, Mussel Broth & Calabrese Chili .............................................................................. 21$
                .main__card-meals 
                    p.main__card-name MATZAH BALL SOUP
                    p.main__card-description Poached Matzah Ball, Chicken Broth & Winter Vegetable ............................................................. 27$
                .main__card-meals 
                    p.main__card-name FOIE GRAS TERRINE
                    p.main__card-description Rabbit, Carrots & Brioche .................................................................................................................. 25$
                .main__card-meals 
                    p.main__card-name TUNA
                    p.main__card-description Layers of Thinly Pounded Yellowfin Tuna; Foie Gras, Toasted Baguette,Chives, Extra Virgin Olive Oil ............................................................................................................. 38$
                .main__card-meals 
                    p.main__card-name CRAB
                    p.main__card-description Warm Peekytoe Crab; Yuzu Rice, Green Tea-Nori Consommé .................................................... 55$
                .main__card-meals 
                    p.main__card-name SALMON
                    p.main__card-description Barely Cooked Faroe Islands Salmon; Black Truffle “Pot-au-Feu” .............................................. 57$
    .main__card 
        .main__card-left 
            img.main__card-img(src="../images/2nd.webp", alt="")
        .main__card-right 
            h3.main__card-number 2 nd
            .main__card-scroll 
                .main__card-meals 
                    p.main__card-name POACHED COD
                    p.main__card-description Root Spinach, Bonji & Shellfish Beurre Blanc ................................................................................. 35$
                .main__card-meals 
                    p.main__card-name BROWN BUTTER BASTED TURBOT
                    p.main__card-description Terrine of  Winter Carrots & Cardamom, Carrot Citrus Emulsion ............................................. 37$
                .main__card-meals 
                    p.main__card-name SQUAB EN CROUTE
                    p.main__card-description Braised Shallots, Wild Mushrooms & Foie Gras .............................................................................. 35$
                .main__card-meals 
                    p.main__card-name CRESCENT FARM DUCK
                    p.main__card-description Confit Leg, Satsuma & Red Peshori Pistachio ................................................................................. 33$
                .main__card-meals 
                    p.main__card-name SNAKE RIVER WAGYU COULOTTE
                    p.main__card-description Turnips, Beets, Horseradish & Borscht Sauce ................................................................................ 45$
                .main__card-meals 
                    p.main__card-name MILLBROOK VENISON SADDLE
                    p.main__card-description Beluga Lentils, Braised Cabbage & Mushroom Cacciatore ........................................................... 50$
                .main__card-meals 
                    p.main__card-name FOIE GRAS TERRINE
                    p.main__card-description Rabbit, Carrots & Brioche .................................................................................................................. 25$
                .main__card-meals 
                    p.main__card-name BUCATINI
                    p.main__card-description Butter, Chili, Mussel Broth & Bottarga ............................................................................................. 15$
                .main__card-meals 
                    p.main__card-name CHAWANMUSHI
                    p.main__card-description Mushrooms, Jalapeño, Radish & Scallions ....................................................................................... 17$
                .main__card-meals 
                    p.main__card-name CHILLED WHITE ASPARAGUS
                    p.main__card-description Baby Lettuces, Mussel Broth & Calabrese Chili .............................................................................. 21$
    .main__card 
        .main__card-left 
            .main__card-slider 
                .main__card-slide
                    img.main__card-img(src="../images/3rd.webp", alt="")
                .main__card-slide 
                    img.main__card-img(src="../images/1st_2.webp", alt="")
                .main__card-slide 
                    img.main__card-img(src="../images/2nd.webp", alt="")
            .main__card-btns
                button(data-atr='0').main__card-btn.active
                button(data-atr='1').main__card-btn
                button(data-atr='2').main__card-btn
        .main__card-right 
            h3.main__card-number 3 rd
            .main__card-scroll 
                .main__card-meals 
                    p.main__card-name OLIVE OIL CAKE
                    p.main__card-description Satsuma & Riesling Sabayon .............................................................................................................. 21$
                .main__card-meals 
                    p.main__card-name APPLE TARTE TATIN
                    p.main__card-description Ginger Ice Cream & Miso .................................................................................................................... 17$
                .main__card-meals 
                    p.main__card-name SWEET POTATO CRÈME CARAMEL
                    p.main__card-description Brown Butter Ice Cream & Pecans .................................................................................................... 15$
                .main__card-meals 
                    p.main__card-name BROOKLYN BLACKOUT
                    p.main__card-description Confit Leg, Satsuma & Red Peshori Pistachio ................................................................................ 18$
                .main__card-meals 
                    p.main__card-name WARM DATE CAKE
                    p.main__card-description Hazelnut Whiskey Sauce & Crème Fraîche Ice Cream .................................................................. 25$
                .main__card-meals 
                    p.main__card-name FOUR FAT FOWL (NY)
                    p.main__card-description Cow's Milk, Pumpkin Seed Butter & Rhubarb ............................................................................... 30$


