main.main 
    .main__content 
        .main__content-card 
            img.main__card-img(src="../images/about_1.webp", alt="")
            .main__card-function 
                h2.main__card-title KITCHEN
                a.main__card-link.link(href="") MORE
        .main__content-card 
            img.main__card-img(src="../images/about_2.webp", alt="")
            .main__card-function 
                h2.main__card-title KITCHEN
                a.main__card-link.link(href="") MORE
        .main__content-card 
            img.main__card-img(src="../images/about_3.webp", alt="")
            .main__card-function 
                h2.main__card-title KITCHEN
                a.main__card-link.link(href="") MORE
        .main__content-card 
            img.main__card-img(src="../images/about_4.webp", alt="")
            .main__card-function 
                h2.main__card-title KITCHEN
                a.main__card-link.link(href="") MORE

