footer.footer 
    .footer__content 
        .footer__content-top 
            .footer__content-left 
                form(action="") 
                    fieldset.footer__content-inputs 
                        input.footer__content-input(type="number")(placeholder="Date")
                        input.footer__content-input(type="number")(placeholder="Time")
                        input.footer__content-input(type="number")(placeholder="How many people") 
                        input.footer__content-input(type="text")(placeholder="Special wishes")
                        input.footer__content-input(type="text")(placeholder="Your name")
                        input.footer__content-input(type="number")(placeholder="Your phone")
                .footer__content-about 
                    p.footer__content-worktime Monday - Sunday ; 09:00 - 02:00
                    a.footer__content-link(href="") RESERVATION
        
            .footer__content-right 
                h2.footer__content-title RESERVE A TABLE
                p.footer__content-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt a at amet vulputate libero nisi, enim. Mi consequat duis ac malesuada et phasellus sit. Luctus aliquam bibendum semper adipiscing. Tristique tristique semper vestibulum nisi senectus dictum ultricies sodales sagittis. 
                p.footer__content-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt a at amet vulputate libero nisi, enim. Mi consequat duis ac malesuada et phasellus sit.
        .footer__content-bottom
            .footer__bottom-left 
                img.footer__bottom-logo(src="../images/logo.webp", alt="")
                ul.footer__bottom-icons 
                    li 
                        a.footer__bottom-icon(href="") 
                            img(src="../images/facebook.svg", alt="")
                    li 
                        a.footer__bottom-icon(href="") 
                            img(src="../images/instagram.svg", alt="")
                    li 
                        a.footer__bottom-icon(href="") 
                            img(src="../images/telegram.svg", alt="")
                .footer__bottom-contacts
                    h3.footer__bottom-titles CONTACT
                    ul.footer__bottom-contact
                        li 
                            a.footer__bottom-link(href="") (302) 555-0107
                        li 
                            a.footer__bottom-link(href="") (239) 555-0108
                        li 
                            a.footer__bottom-link(href="") laperle.com
                .footer__bottom-location 
                    h3.footer__bottom-titles LOCATION
                    p.footer__bottom-description 1901 Thornridge Cir. Shiloh,Hawaii 81063
            .footer__bottom-right 
                iframe.footer__bottom-map(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2760.5133630889254!2d6.1505569158217765!3d46.22013489070438!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478c651974f6feef%3A0xdb715b72ca5f625b!2sRestaurant%20la%20Perle%20du%20Lac!5e0!3m2!1sru!2s!4v1638102188779!5m2!1sru!2s", frameborder="0") 
                
                