header.header 
    .container 
        .header__content 
            button.header__menu-btn
                img(src="../images/burger_menu.svg", alt="")
            a.header__link(href="")  RESERVATION
        .header__menu 
            img.header__menu-logo(src="../images/logo.webp", alt="")
            ul.header__menu-list 
                li
                    a.header__menu-link(href="") MENU
                li
                    a.header__menu-link(href="../about.html") ABOUT
                li
                    a.header__menu-link(href="") RESERVATIONS
                li
                    a.header__menu-link(href="") NEWS
                li
                    a.header__menu-link(href="") EVENTS
                li
                    a.header__menu-link(href="") CAREERS
                li
                    a.header__menu-link(href="") CONTACT
            ul.header__menu-icons 
                li
                    a.header__menu-icon 
                        img(src="../images/facebook.svg", alt="")
                li
                    a.header__menu-icon 
                        img(src="../images/instagram.svg", alt="")
                li
                    a.header__menu-icon 
                        img(src="../images/telegram.svg", alt="")
            a.header__menu-language(href="") EN/RU
        .header__hover 