main.main 
    .main__top 
        .main__info 
            .main__info-cards 
                img.main__info-img(src="../images/main_menu.webp", alt="")
                .main__info-text 
                    h2.main__info-title MENU
                    p.main__info-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse auctor sollicitudin arcu scelerisque tellus tincidunt arcu. Fermentum est, hendrerit cras commodo tellus. Ante nulla neque accumsan dignissim viverra varius. Leo adipiscing a pretium quam turpis eget lectus molestie.
                    a.main__info-link(href="") READ MORE
            .main__info-cards 
                .main__info-text 
                    h2.main__info-titler EVENTS
                    p.main__info-descriptionr Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam maecenas purus velit interdum augue. Amet diam diam ultrices ut tincidunt. Risus semper sit mauris, vitae. Vel arcu bibendum accumsan, lacinia nisl.
                    a.main__info-linkr(href="") READ MORE
                img.main__info-img(src="../images/main_events.webp", alt="")
            .main__info-cards 
                img.main__info-img(src="../images/main_about.webp", alt="")
                .main__info-text 
                    h2.main__info-title ABOUT US
                    p.main__info-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse auctor sollicitudin arcu scelerisque tellus tincidunt arcu. Fermentum est, hendrerit cras commodo tellus. Ante nulla neque accumsan dignissim viverra varius. Leo adipiscing a pretium quam turpis eget lectus molestie.
                    a.main__info-link(href="") READ MORE
    .main__bottom 
        .main__bottom-items 
            .main__bottom-item 
                img.main__bottom-img(src="../images/valentine's_day.webp", alt="")
                h3.main__bottom-title VALENTINE’S DAY
            .main__bottom-item 
                img.main__bottom-img(src="../images/enjoy_25.webp", alt="")
                h3.main__bottom-title ENJOY 25% OFF DINNER 
            .main__bottom-item 
                img.main__bottom-img(src="../images/fish_tartare.webp", alt="")
                h3.main__bottom-title FISH TARTARE WITH WASABI
            .main__bottom-item 
                img.main__bottom-img(src="../images/restaurant_review.webp", alt="")
                h3.main__bottom-title RESTAURANT REVIEW
            .main__bottom-item 
                img.main__bottom-img(src="../images/mother's_day.webp", alt="")
                h3.main__bottom-title MOTHER’S DAY
            .main__bottom-item 
                p.main__bottom-continue CONTINUE READING OUR NEWS 
                    span.main__bottom-underline HERE
                
