.main{
    &__card{

        display: flex;

        &-left{
            height: 700px;
            width: 50%;
            overflow: hidden;
            position: relative;
        }

        &-img{
            width: 100%;
            height: 100%;
        }

        &-btns{
            position: absolute;
            bottom: 30px;
            text-align: center;
            left: 47%;
            display: flex;
            justify-content: space-between;
            width: 100px;
        }

        &-btn{
            width: 20px;
            height: 20px;
            background: rgba(196, 196, 196, 0.7);
            border: none;
            outline: none;
            border-radius: 50%;

            &.active{
                background: $whiteColor;
            }
        }

        &-right{
            width: 50%;
            padding: 50px 87px 66px 50px;
            max-height: 700px;
            height: 100%;
        }

        &-number{
            font-size: 48px;
            line-height: 50px;
            color: $blackColor;
            font-family: 'PlayfairDisplay';
            font-weight: 400;
            text-align: center;
            margin-bottom: 30px;
        }

        &-name{
            font-size: 20px;
            line-height: 24px;
            font-family: 'PlayfairDisplay';
            font-weight: 400;
            color: $blackColor;
            margin-bottom: 10px;
        }

        &-description{
            font-size: 18px;
            line-height: 24px;
            font-family: 'PlayfairDisplay';
            font-weight: 400;
            color: $blackColor;
        }

        &-meals{
            text-align: end;
            margin: 0px 0px 30px 50px;
        }

        &-scroll{
            overflow-y: scroll;
            height: 500px;
            direction: rtl;

            &::-webkit-scrollbar{
                background: linear-gradient(90deg, rgba(255, 255, 255) 40%, #C4C4C4 50%, rgba(255, 255, 255) 40%);
            }
            &::-webkit-scrollbar-thumb{
                background: #C4C4C4;
                width: 10px;
            }
            
        }
    }
}